<header>
  <nav>
    <ul class="navbar">
      <li class="logo">
        <img src="./assets/ficha-de-poker 1.png" alt="logo planning poker" />
        <h2>Crear partida</h2>
      </li>
      <li *ngIf="gameName">
        <h3 class="game-name">{{ gameName }}</h3>
      </li>
      <li class="invite--section">
        <img
          src="./assets/Logo.png"
          width="36"
          height="36"
          alt="imagen de perfil de Google"
        />
        <button class="invite--button">Invitar jugadores</button>
      </li>
    </ul>
  </nav>
</header>
