.navbar {
  align-items: center;
  background-color: rgb(24, 7, 53);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  list-style: none;
  min-height: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}
