.navbar {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
  min-height: 3rem;
  padding: 2rem 6rem;
  width: 100%;
}
.navbar a {
  transition: color 250ms ease-in-out;
}
.navbar a:hover {
  color: var(--hover-color);
}

.logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.logo h2 {
  font-size: var(--title-size);
  font-weight: 600;
}

.game-name {
  font-size: var(--title-size);
}

.invite--section {
  align-items: center;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}
.invite--section img {
  background-color: var(--bg-color);
  border-radius: 50%;
  object-fit: contain;
}

.invite--button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 1rem;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}
.invite--button:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
.invite--button:active {
  scale: 0.99;
}

@media (max-width: 768px) {
  .navbar {
    padding: 4px;
    flex-wrap: wrap;
  }
}
