<section
  class="select--cards"
  *ngIf="showCard === 'true' && rol !== 'spectator'"
>
  <h2 class="select--cards__title">
    Elige una carta <span class="select--cards__hand">👆</span>
    <button class="select--cards__options" (click)="toggleScoreModeModal()">
      <img
        src="./assets/cambiar.png"
        alt="flechas de cambio"
        width="20"
        height="20"
      />
    </button>
  </h2>
  <article class="select--cards__container">
    <button
      class="select--card"
      [ngClass]="{ 'selected--card': selectedCardIndex === i }"
      (click)="changeScore($event, i)"
      *ngFor="let card of cards; let i = index"
    >
      <p class="select--card__score">{{ card.score }}</p>
    </button>
  </article>
</section>
<section
  class="select--cards select--cards--average"
  *ngIf="showCard === 'false'"
>
  <article class="select--cards__container average--animation">
    <div
      class="select--card select--card__average"
      *ngFor="let card of selectedCards"
    >
      <p class="select--card__score" *ngIf="!isScoreNaN(card.score)">
        {{ card.score }}
      </p>
      <p class="select--card__score" *ngIf="isScoreNaN(card.score)">☕</p>

      <p class="select--card__vote" *ngIf="card.vote === 1">
        {{ card.vote }} voto
      </p>
      <p class="select--card__vote" *ngIf="card.vote !== 1">
        {{ card.vote }} votos
      </p>
    </div>
  </article>
  <article class="select--cards__average-score">
    <h3>Promedio:</h3>
    <h2 [ngClass]="{ 'coffe--time': this.averageScore === 'Coffee time!' }">
      {{ averageScore }}
      <span *ngIf="this.averageScore === 'Coffee time!'">☕</span>
    </h2>
    <canvas></canvas>
  </article>
</section>
<section
  class="change--score__modal"
  [ngClass]="{ closed: !isChangeScoreMode }"
>
  <div class="modal-content">
    <button class="close" (click)="toggleScoreModeModal()">
      <img src="./assets/Group.png" alt="equis para cerrar la ventana modal" />
    </button>
    <div class="content-select">
      <h2>Cambia el modo de puntaje</h2>
      <select class="change--score__select" (change)="changeScoreMode($event)">
        <option *ngFor="let item of scoreModes" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
  </div>
</section>
