.select--cards {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  max-width: 1000px;
  min-width: 600px;
  overflow: scroll;
  padding: 0 0.5rem;
  position: absolute;
  translate: -50%;
  user-select: none;
}
.select--cards--average {
  flex-direction: row;
  overflow: visible;
}
.select--cards__average-score {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.select--cards__average-score h3 {
  font-size: 1rem;
  font-weight: 400;
}
.select--cards__average-score h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
.select--cards__title {
  font-size: var(--title-size);
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.select--cards__hand {
  display: inline-block;
  rotate: 180deg;
}
.select--cards__container {
  display: flex;
  width: fit-content;
}
.select--card {
  align-items: center;
  background-color: transparent;
  border: 2px solid #bb65ff;
  border-radius: 7px;
  box-shadow: inset 0px 0px 6px rgba(189, 189, 255, 0.6);
  cursor: pointer;
  display: flex;
  filter: drop-shadow(0px 5px 10px rgba(100, 41, 205, 0.6));
  height: 80px;
  justify-content: center;
  margin: 1rem 1.5rem 0.5rem 0;
  transition: translate 300ms ease;
  width: 48px;
}
.select--card:active {
  scale: 0.96;
}
.select--card:hover {
  background: #e4a4ff;
  translate: 0 -8px;
}
.select--card:hover .select--card__score {
  color: #330072;
}
.select--card--pressed {
  background: #e4a4ff;
}
.selected--card {
  background: #e4a4ff;
  translate: 0 -8px;
}
.select--card__score {
  font-weight: 600;
  user-select: none;
}

.select--cards::-webkit-scrollbar {
  background-color: var(--bg-color);
  height: 5px;
  width: 0;
}
.select--cards::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border-radius: 5px;
}
.average--animation {
  animation: average 550ms;
}
canvas {
  pointer-events: none;
  position: absolute;
}

@keyframes average {
  from {
    translate: 0 200px;
  }
  to {
    translate: 0 0;
  }
}
@media (max-width: 767px) {
  .select--cards {
    align-items: start;
    overflow: scroll;
    width: 100%;
  }
}
