<section class="create--game">
  <form class="create--game__form" [formGroup]="form" (ngSubmit)="createGame()">
    <div class="create--game__input">
      <label for="gameName">Nombra la partida</label>
      <input
        minlength="5"
        maxlength="20"
        formControlName="gameName"
        autocomplete="off"
        name="gameName"
        id="gameName"
        [class.is-invalid]="invalidGameName.touched && invalidGameName.invalid"
        placeholder="sprint 32"
      />
      <small *ngIf="invalidGameName.invalid" class="create--game__error">{{
        getGameNameErrorMessage()
      }}</small>
    </div>
    <button
      [disabled]="invalidGameName.touched && invalidGameName.invalid"
      type="button"
      (click)="createGame()"
      class="button"
    >
      Crear partida
    </button>
  </form>
</section>
