<section class="create--game">
  <form class="create--game__form" [formGroup]="form" (ngSubmit)="createGame()">
    <div class="create--game__input">
      <label for="gameName">Nombra la partida</label>
      <input
        minlength="5"
        maxlength="20"
        formControlName="gameName"
        autocomplete="off"
        name="gameName"
        [(ngModel)]="gameName"
        id="gameName"
        [class.is-invalid]="invalidGameName"
        placeholder="sprint 32"
      />
      <small *ngIf="invalidGameName" class="create--game__error"
        >Debe tener entre 5 y 20 caracteres</small
      >
    </div>
    <button
      [disabled]="invalidGameName"
      type="button"
      (click)="createGame()"
      class="button"
    >
      Crear partida
    </button>
  </form>
</section>
