.loading--page {
  align-items: center;
  background: radial-gradient(
      50% 50% at 50% 50%,
      #330072 0%,
      rgba(31, 13, 63) 100%
    )
    no-repeat center center fixed;
  display: flex;
  height: 100vh;
  inset: 0;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  position: absolute;
  width: fit-content;
  width: 100%;
  z-index: 3;
}
.loading--page__image {
  animation: loading 1150ms ease-in-out infinite alternate-reverse;
}
.loading--page__logo {
  position: relative;
}
.logo__p {
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
.loading--page__flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.spin {
  animation: spinwheel 3s linear infinite;
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.075;
  }
}
@keyframes spinwheel {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
