@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --title-size: 1.3rem;
  --bg-color: #330072;
  --secoundary-color: rgba(31, 13, 63);
  --hover-color: rgb(162, 120, 233);
}

* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
      50% 50% at 50% 50%,
      var(--bg-color) 0%,
      var(--secoundary-color) 100%
    )
    no-repeat center center fixed;
  overflow: hidden;
}
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.button {
  background-color: #f6f7fc;
  border: none;
  border-radius: 50px;
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
}
.button:disabled {
  background: #9d9da14d;
  color: #9d9da1;
  cursor: not-allowed;
  pointer-events: none;
}
