<section class="table--container">
  <div class="cards">
    <div
      *ngFor="let attribute of player"
      class="card card--user-1"
      [ngClass]="{
        'card--spectator': attribute.rol === 'spectator',
        'card--pressed': attribute.hasSelected && !isRevealCards
      }"
    >
      <span
        *ngIf="
          attribute.score && attribute.rol !== 'spectator' && isRevealCards
        "
        >{{ attribute.score }}</span
      >
      <img
        src="./assets/moderator.png"
        alt="user identifier"
        class="card__img--identifier"
        width="16"
        height="16"
      />
      <p>
        {{ attribute.username }}
      </p>
    </div>
    <div *ngFor="let card of users">
      <div
        class="card card--user-{{ card.id }}"
        [ngClass]="{
          'card--spectator': card.rol === 'spectator',
          'card--pressed': card.hasSelected && !isRevealCards
        }"
      >
        <span *ngIf="card.score && card.rol !== 'spectator' && isRevealCards">{{
          card.score
        }}</span>
        <p>
          {{ card.username }}
        </p>
      </div>
    </div>
  </div>
  <div class="table outside--table">
    <div class="table medium--table">
      <div class="table inner--table">
        <article class="table__flex" *ngIf="isLoading">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <p>Contando votos</p>
        </article>
        <button
          class="button button--purple"
          *ngIf="hasSelected && !isGameOver && !isLoading"
          (click)="revealCards()"
        >
          Revelar cartas
        </button>
        <button
          class="button button--purple"
          *ngIf="isGameOver"
          (click)="restartGame()"
        >
          Nueva votación
        </button>
      </div>
    </div>
  </div>
</section>
