.table--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
.table--flex {
  position: relative;
}
.cards {
  display: flex;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  margin-bottom: 3rem;
  position: absolute;
  width: 100%;
}
.card {
  border: 2px solid #bb65ff;
  border-radius: 7px;
  box-shadow: inset 0px 0px 6px rgba(189, 189, 255, 0.6);
  cursor: default;
  display: flex;
  filter: drop-shadow(0px 5px 10px rgba(100, 41, 205, 0.6));
  height: 60px;
  position: absolute;
  width: 35px;
}
.card:hover {
  border-color: #e4a4ff;
}
.card--pressed {
  background: #e4a4ff;
}
.card span {
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
.identifier--button {
  background-color: transparent;
  border: none;
}
.card__img--identifier {
  left: 50%;
  position: absolute;
  top: -1.3rem;
  translate: -50%;
}
.identifier--hover {
  cursor: pointer;
  display: none;
  top: 50%;
  transition: scale 300ms ease-in-out;
  translate: -50% -50%;
}
.identifier--hover:hover {
  scale: 1.125;
}
.card:hover .identifier--hover {
  display: block;
}
.card p {
  bottom: -1.5rem;
  left: 50%;
  max-width: 8ch;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  translate: -50%;
  user-select: none;
  white-space: nowrap;
}
.card--spectator {
  background: url("../../../assets/Logo.png") center no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: 56px;
  object-fit: contain;
  transition: border 250ms linear;
  width: 56px;
}
.card--spectator:hover {
  background: url("../../../assets/Logo.png") center no-repeat;
  background-size: contain;
  border-color: #e4a4ff;
}
.card--spectator p {
  bottom: -1.7rem;
  white-space: nowrap;
}

/* ? User Cards */
.card--user-1 {
  bottom: -30%;
  left: 50%;
  translate: -50%;
}
.card--user-2 {
  bottom: -30%;
  left: 25%;
  translate: -50%;
}
.card--user-3 {
  bottom: -30%;
  left: 75%;
  translate: -50%;
}
.card--user-4 {
  left: -20%;
  top: 50%;
  translate: 0 -50%;
}
.card--user-5 {
  right: -20%;
  top: 50%;
  translate: 0 -50%;
}
.card--user-6 {
  left: 50%;
  top: -35%;
  translate: -50%;
}
.card--user-7 {
  left: 25%;
  top: -35%;
  translate: -50%;
}
.card--user-8 {
  left: 75%;
  top: -35%;
  translate: -50%;
}
/* ? End User Cards */

.table {
  align-items: center;
  aspect-ratio: 1.8;
  border: 2px solid #6429cd;
  border-radius: 276px;
  display: flex;
  justify-content: center;
}
.outside--table {
  background: rgba(31, 13, 63);
  box-shadow: inset 0px 0px 20px rgba(189, 189, 255, 0.2);
  filter: drop-shadow(0px 0px 15px #6429cd);
  width: 500px;
}
.medium--table {
  background: rgba(31, 13, 63);
  box-shadow: inset 0px 0px 20px rgba(189, 189, 255, 0.6);
  filter: drop-shadow(0px 12px 24px rgba(100, 41, 205, 0.6));
  width: 450px;
}
.inner--table {
  background: rgba(31, 13, 63, 0.6);
  border-width: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 3px 6px rgba(0, 0, 0, 0.06);
  width: 400px;
}
.button--purple {
  background: #6429cd;
  color: #ffffff;
}

/* ? Loader animation  */
.table__flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  height: 145px;
  position: absolute;
  width: 80px;
}
.lds-ellipsis div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  background: #6429cd;
  border-radius: 50%;
  height: 13px;
  position: absolute;
  top: 33px;
  width: 13px;
}
.lds-ellipsis div:nth-child(1) {
  animation: lds-ellipsis1 0.6s infinite;
  left: 8px;
}
.lds-ellipsis div:nth-child(2) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 8px;
}
.lds-ellipsis div:nth-child(3) {
  animation: lds-ellipsis2 0.6s infinite;
  left: 32px;
}
.lds-ellipsis div:nth-child(4) {
  animation: lds-ellipsis3 0.6s infinite;
  left: 56px;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ! End Loader animation  */

@media (max-width: 1325px) {
  .outside--table {
    width: 360px;
  }
  .medium--table {
    width: 310px;
  }
  .inner--table {
    width: 260px;
  }
  /* ? User Cards */
  .card--user-1 {
    bottom: -45%;
  }
  .card--user-2 {
    bottom: -45%;
  }
  .card--user-3 {
    bottom: -45%;
  }
  .card--user-6 {
    top: -45%;
  }
  .card--user-7 {
    top: -45%;
  }
  .card--user-8 {
    top: -45%;
  }
  /* ? End User Cards */
}
@media (max-height: 768px) {
  .table--container {
    scale: 0.85;
    top: 44%;
  }
}
