<section class="table--container">
  <div class="cards">
    <div *ngFor="let card of users">
      <div
        class="card"
        [ngClass]="{
          'card--spectator': card.rol === 'spectator',
          'card--pressed': card.hasSelected && !isRevealCards
        }"
      >
        <span *ngIf="card.score && card.rol !== 'spectator' && isRevealCards">{{
          card.score
        }}</span>
        <p>
          {{ card.username }}
        </p>
      </div>
    </div>
  </div>
  <div class="table outside--table">
    <div class="table medium--table">
      <div class="table inner--table">
        <button class="button button--purple" (click)="revealCards()">
          Revelar cartas
        </button>
      </div>
    </div>
  </div>
</section>
